.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color:white
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.paragraphText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  /* border: 1px solid white; */
  /* padding: 20px; */
  border-radius: 5px;
  margin: 20px 0;
}

/* .statistic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.counts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(222, 184, 135, 0.362);
}
.topTenWords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(71, 178, 255, 0.384);
}
.topTenWords strong {
  color: orange;
}
.averageWordsInSentence {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  background-color: rgba(102, 255, 0, 0.323);
}

.averageWordsInSentence strong {
  color: orange;
}

.Inputs {
  color: orange;
}

.ShortStory{
  width: 50%;
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(200, 191, 216, 0.28);
}

.Vocabulary {
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  background-color: rgba(137, 43, 226, 0.487);
}

.vocabFromStory {
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  background-color: rgba(0, 255, 255, 0.503);
}

.vocabFromStoryConflict {
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 0 10px;
  background-color: rgba(0, 255, 255, 0.245);
}

.VocabularyConflict {
  height: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-left: 10px;
  background-color: rgba(137, 43, 226, 0.274);
}

.notConflictTitle {
  color: orange;
}

.btnDiv button {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 128, 0, 0.566);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px 10px;
}

.btnDiv button:hover {
  background-color: rgba(0, 152, 0, 0.566);
  color: orange;
  border: 1px dotted orange;
}

/* .inputStyles {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background-color: rgba(137, 43, 226, 0.447);
  margin: 20px 10px
}

.inputStyles:hover {
  border: 1px solid orange;
  color: orange;
  background-color: rgba(153, 73, 228, 0.447);
} */